*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: cadetblue;
    color: darkolivegreen;
    font-style: italic;
    font-weight: bold;
    text-align: justify;
    text-transform: capitalize;
}