*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    color: white;
}
#header{
    background-color: cadetblue;
    min-height: 100px;
}
#sidebar1{
    background-color: blue;
    min-height: 350px;
    width: 25%;
}
#mainContent{
    background-color: brown;
    min-height: 350px;
    width: 50%;
}
#sidebar2{
    background-color: blueviolet;
    min-height: 350px;
    width: 25%;
}
#footer{
    background-color: crimson;
    min-height: 100px;
    clear: left;
}
#sidebar2,#mainContent,#sidebar1{
    float: left;
}
