*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.child1{
    background-color: rgb(50, 53, 53);
    min-height: 100px;
}
.child2{
    background-color: rgb(255, 157, 0);
    width: 25%;
}
.child3{
    background-color: green;
    width: 25%;
    
}
.child4{
  background-color: purple;
  width: 25%;
}
.child5{
    background-color: cadetblue;
    width: 25%;
    
    
}
.child6{
    background-color: rgb(62, 63, 64);
    width: 75%;
 
}
.child7{
    background-color: purple;
    width: 75%;
    
   
}
.child8{
    background-color: brown;
    width: 100%;
    height: 50px;
    
}
.child2,.child3,.child4,.child5,.child6,.child8{
    float: left;
}


